codes/javascript/src/* linguist-documentation=false
codes/javascript/src/* linguist-vendored=false
codes/javascript/src/* linguist-detectable=true
codes/python/* linguist-documentation=false
codes/python/* linguist-vendored=false
codes/python/* linguist-detectable=true
codes/php/* linguist-documentation=false
codes/php/* linguist-vendored=false
codes/php/* linguist-detectable=true
codes/go/** linguist-documentation=false
codes/go/** linguist-vendored=false
codes/go/** linguist-detectable=true
codes/perl/* linguist-documentation=false
codes/perl/* linguist-vendored=false
codes/perl/* linguist-detectable=true
codes/julia/* linguist-documentation=false
codes/julia/* linguist-vendored=false
codes/julia/* linguist-detectable=true
codes/lua/* linguist-documentation=false
codes/lua/* linguist-vendored=false
codes/lua/* linguist-detectable=true
codes/ruby/* linguist-documentation=false
codes/ruby/* linguist-vendored=false
codes/ruby/* linguist-detectable=true
codes/r/* linguist-documentation=false
codes/r/* linguist-vendored=false
codes/r/* linguist-detectable=true
codes/kotlin/* linguist-documentation=false
codes/kotlin/* linguist-vendored=false
codes/kotlin/* linguist-detectable=true
codes/swift/* linguist-documentation=false
codes/swift/* linguist-vendored=false
codes/swift/* linguist-detectable=true
codes/dart/* linguist-documentation=false
codes/dart/* linguist-vendored=false
codes/dart/* linguist-detectable=true
codes/visual_basic_dotnet/* linguist-documentation=false
codes/visual_basic_dotnet/* linguist-vendored=false
codes/visual_basic_dotnet/* linguist-detectable=true
codes/csharp/* linguist-documentation=false
codes/csharp/* linguist-vendored=false
codes/csharp/* linguist-detectable=true
codes/matlab/* linguist-documentation=false
codes/matlab/* linguist-vendored=false
codes/matlab/* linguist-detectable=true
*.wls linguist-language=Mathematica
codes/wolfram/* linguist-documentation=false
codes/wolfram/* linguist-vendored=false
codes/wolfram/* linguist-detectable=true
codes/scala/* linguist-documentation=false
codes/scala/* linguist-vendored=false
codes/scala/* linguist-detectable=true
codes/gnu_octave/* linguist-documentation=false
codes/gnu_octave/* linguist-vendored=true
codes/gnu_octave/* linguist-detectable=false