codes/javascript/src/* linguist-documentation=false
codes/javascript/src/* linguist-vendored=false
codes/python/* linguist-documentation=false
codes/python/* linguist-vendored=false
codes/php/* linguist-documentation=false
codes/php/* linguist-vendored=false
codes/go/** linguist-documentation=false
codes/go/** linguist-vendored=false
codes/perl/* linguist-documentation=false
codes/perl/* linguist-vendored=false
codes/julia/* linguist-documentation=false
codes/julia/* linguist-vendored=false
codes/lua/* linguist-documentation=false
codes/lua/* linguist-vendored=false
codes/ruby/* linguist-documentation=false
codes/ruby/* linguist-vendored=false
codes/r/* linguist-documentation=false
codes/r/* linguist-vendored=false
codes/kotlin/* linguist-documentation=false
codes/kotlin/* linguist-vendored=false
codes/swift/* linguist-documentation=false
codes/swift/* linguist-vendored=false
codes/dart/* linguist-documentation=false
codes/dart/* linguist-vendored=false
codes/visual_basic_dotnet/* linguist-documentation=false
codes/visual_basic_dotnet/* linguist-vendored=false
codes/csharp/* linguist-documentation=false
codes/csharp/* linguist-vendored=false
codes/matlab/* linguist-documentation=false
codes/matlab/* linguist-vendored=false