go 1.21.4

use (
    ./codes/go/001_comment
    ./codes/go/002_hello_world
    ./codes/go/003_conditionals
    ./codes/go/004_loops
    ./codes/go/005_objects
    ./codes/go/006_arrays
    ./codes/go/007_functions
    ./codes/go/008_operator_ternary
    ./codes/go/009_operator_optional_chaining
    ./codes/go/010_operator_nullish_coalescing
    ./codes/go/011_operator_spread
    ./codes/go/array_every
    ./codes/go/array_filter
    ./codes/go/array_find
    ./codes/go/array_find_index
    ./codes/go/array_includes
    ./codes/go/array_map
    ./codes/go/array_reduce
    ./codes/go/array_some
    ./codes/go/factorial
    ./codes/go/fizzbuzz
    ./codes/go/xxx_chaos
    ./codes/go/yyy_required_features
    ./codes/go/www_001_abbreviate_name
    ./codes/go/www_002_count_vowels
)
